<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gohkokhin.moonshine.app" >

    <!-- This permission necessary for Moonshine to perform network access . -->
    <uses-permission android:name ="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Moonshine"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Moonshine" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.gohkokhin.moonshine.app.DetailActivity"
            android:label ="@string/title_activity_detail"
            android:parentActivityName ="com.example.gohkokhin.moonshine.app.MainActivity" >
            <meta-data
                    android:name = "android.support.PARENT_ACTIVITY"
                    android:value="MainActivity" />
        </activity>

        <activity
            android:name="com.example.gohkokhin.moonshine.app.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.gohkokhin.moonshine.app.MainActivity" >
            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

    </application>

</manifest>
